.footer{
    background-color: #222;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
    
}
.footer p{
    height: 1px;
}
.footer a{
    margin-left: 10px;
    margin-top: 10px;
    border: none;
}
img{
   
    height: 30px;
    width: 30px;
}