body.dark{
    background-color: #222;
    color: #fff;
}
body.dark .card{
    background-color: #5B4B8A;
    color: #fff;
    box-shadow: 5px 5px #7858A6;
}
body.dark .navbardark{
    background-color: #222;
}
body.dark .inputAdd{
    background-color: #bbb;
    border-color: #bbb;
    outline: #bbb;
    color: #111;
}
body.dark .btndark{
    background-color: #5B4B8A;
    color: #fff;
    border-color: #5B4B8A;
}
body.dark .btndark:hover{
    opacity: 0.9;
}
body.dark .modal-content{
    background-color: #5B4B8A;
}
body.dark .modal-header{
    border-bottom: var(--bs-modal-header-border-width) solid #41464b; 
}
body.dark .modal-footer{
  border-top: var(--bs-modal-footer-border-width) solid #41464b;
}